<div class="about-container" [ngClass]="{'dark-mode' : isDarkMode}">
  <div class="content-container">
    <div class="row" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-duration="800">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-3">
        <div class="item fast-transition">
          <div class="item-head">
            <h5 class="mb-0">WHO</h5>
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
          <div class="item-data">
            <pre class="mb-2">{{who}}</pre>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-3">
        <div class="item fast-transition">
          <div class="item-head">
            <h5 class="mb-0">WHAT</h5>
            <fa-icon [icon]="faCode"></fa-icon>
          </div>
          <div class="item-data">
            <pre class="mb-2">{{what}}</pre>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-3">
        <div class="item fast-transition">
          <div class="item-head">
            <h5 class="mb-0">WHERE</h5>
            <fa-icon [icon]="faLocationCrosshairs"></fa-icon>
          </div>
          <div class="item-data">
            <pre class="mb-2">{{where}}</pre>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-3">
        <div class="item fast-transition">
          <div class="item-head">
            <h5 class="mb-0">WHEN</h5>
            <fa-icon [icon]="faClock"></fa-icon>
          </div>
          <div class="item-data">
            <pre class="mb-2">{{when}}</pre>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 my-3">
        <div class="item fast-transition">
          <div class="item-head">
            <h5 class="mb-0">WHY</h5>
            <fa-icon [icon]="faComputer"></fa-icon>
          </div>
          <div class="item-data">
            <pre class="mb-2">{{why}}</pre>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-center mb-4 timeline-heading">My Timeline</h4>
    <div class="timeline" data-aos="fade-in" data-aos-easing="ease-in-out" data-aos-duration="1000">
      <p-timeline [value]="timelineData" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-data>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="isDarkMode ? '#242526' : '#7367f0'">
            <fa-icon [icon]="data.icon"></fa-icon>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-data>
          <div class="card">
            <h4 class="mx-1">{{data.qualification}}</h4>
            <h5 class="mx-1">{{data.at}}</h5>
            <h6 class="mx-1">{{data.duration}}</h6>
          </div>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>