<div class="homepage" [ngClass]="{'dark-mode' : isDarkMode}">
    <div class="container" data-aos="fade-right" data-aos-duration="1000">
        <div class="img-container">
            <img src="../../../assets/img/pth.jpg" alt="">
        </div>
        <div class="content-container">
            <div class="main">
                <h3>Pragath G</h3>
                <h5>Software Engineer</h5>
                <div class="description">
                    <p>I'm currently working at UST.<br> I have an overall experience of 1.4 Years.</p>
                </div>
                <div class="connect">
                    <a href="https://github.com/pragath-pth"><fa-icon [icon]="faGithub"></fa-icon></a>
                    <a href="https://www.linkedin.com/in/pragath-pth/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                </div>
                <div class="resume">
                    <a class="btn btn-primary mb-2 btn-sm-block" href="https://drive.google.com/file/d/1ZIh5ZQ2y6ep4BU7sQvNlZrZ0N__wJodB/view?usp=sharing">
                        View My Resume 
                        <fa-icon [icon]="faFileInvoice"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

