.homepage{
    min-height: 100vh;
    // padding-top: 65px;
    display: flex;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .img-container{
            background: rgba(255, 255, 255, 0.14);
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.6px);
            // -webkit-backdrop-filter: blur(9.6px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            width: 200px;
            height: 400px;
            margin: 0px 10px 0px 0px;
            overflow: hidden;
            img{
                width: 272px;
                position: absolute;
                top: 0px;
                right: -51px;
            }
        }
        .content-container{
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.14);
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.6px);
            -webkit-backdrop-filter: blur(9.6px);
            // border: 1px solid rgba(255, 255, 255, 0.1);
            width: 500px;
            height: 400px;
            .main{
                margin-left: 70px;
                // position: absolute;
                // top: 12%;
                // left: 12%;
                h3{
                    font-weight: 700;
                    font-size: 2.4rem;
                }
                h5{
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                .description{
                    margin-top: 20px;
                    p{
                        color:gray;
                    }
                }
                .connect{
                    a{
                        color: #000000;
                        text-decoration: none;
                        margin-right: 5px;
                    }
                    fa-icon{
                        font-size: 1.25rem;
                    }
                }
                .resume{
                    margin-top: 15px;
                    .btn-primary{
                        border-color: #7367f0!important;
                        background-color: #7367f0!important;
                        color: #fff!important;
                        font-weight: 700;
                        font-size: 14px;
                    }
                    .btn-primary:hover{
                        box-shadow: 0 8px 25px -8px #7367f0;
                    }
                }
            }
        }
    }
}

.dark-mode{
    background-color: #18191A;
    // background-color: #0d0d0d;
    .container{
        .content-container{
            background: #242526;
            color: white;
            transition: all 0.3s;
            .main{
                .connect{
                    fa-icon{
                        color: #28BA67; //2aaf4c
                    }
                }
                .resume{
                    .btn-primary {
                        // --green: #1BFD9C;
                        --green: #28BA67; //77d990
                        position: relative;
                        font-family: inherit;
                        overflow: hidden;
                        transition: all 0.3s;
                        // line-height: 1.4em;
                        border: 1px solid var(--green) !important;
                        // background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
                        background: none !important;
                        color: var(--green) !important;
                        // box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
                    }
                       
                    .btn-primary:hover {
                     color: #82ffc9;
                     box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
                    }
                    
                    .btn-primary:before {
                     content: "";
                     position: absolute;
                     left: -4em;
                     width: 4em;
                     height: 100%;
                     top: 0;
                     transition: transform .4s ease-in-out;
                     background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
                    }
                    
                    .btn-primary:hover:before {
                     transform: translateX(15em);
                    }
                }
                .description{
                    p{
                        color:#bdbdbd;
                    }
                }
                h3{
                    color: #c5c5c5;
                }
                h5{
                    color: #c5c5c5;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .homepage{
        .container{
            .img-container{
                img{
                    width: 250px;
                    right: -66px;
                }
            }
            .content-container{
                .main{
                    margin-left: 20px !important;
                    h3{
                        font-size: 2rem;
                    }
                    h5{
                        font-size: 1rem;
                    }
                    .description{
                        margin-right: 10px;
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
