<div class="homepage" [ngClass]="{'dark-mode' : isDarkMode, 'light-mode' : !isDarkMode}">
    <div class="container" data-aos="zoom in" data-aos-duration="1000">
        <div class="content-container">
            <div class="main">
                <h4>Hi, I'm</h4>
                <h3>Pragath G</h3>
                <h5><span class="ng">Angular</span> Developer and Front-End Specialist</h5>
                <div class="description">
                    <p>I build responsive, scalable, and maintainable web applications using Angular.</p>
                </div>
                <div class="connect">
                    <a href="https://github.com/pragath-pth"><i class="fa-brands fa-github" aria-label="Github Page"></i></a>
                    <a href="https://www.linkedin.com/in/pragath-pth/"><i class="fa-brands fa-linkedin" aria-label="LinkedIn Page"></i></a>
                </div>
                <div class="resume">
                    <a class="btn btn-primary mb-2 btn-sm-block" href="https://drive.google.com/file/d/1ZIh5ZQ2y6ep4BU7sQvNlZrZ0N__wJodB/view?usp=sharing">
                        View My Resume
                        <i class="fa-solid fa-file-invoice"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="img-container">
            <img src="../../../assets/img/pth.jpg" alt="">
        </div>
    </div>
</div>

