<div class="nav-header" [ngClass]="{'dark-mode' : isDarkMode}">
    <div class="container">
        <!-- <img src="../../../../assets/img/logo.png" class="my-logo" alt=""> -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve" class="my-logo">
            <g>
                <path d="M393.6,437.4H112.7c-6.9,0-10.4-3.3-10.4-9.9c0-6.3,3.5-9.4,10.4-9.4h70.3V316.6h-68.4c-11.3,0-17-5.5-17-16.5
                    c0-11.3,5.7-17,17-17h68.4v-89.2h-72.2c-6.9,0-10.4-3.1-10.4-9.4c0-6.6,3.4-9.9,10.3-9.9h72.3c1.3-9.4,6.9-14.2,16.8-14.2
                    c9.9,0,15.5,4.7,16.8,14.2h19.8c6.9,0,10.4,3.3,10.4,9.9c0,6.3-3.5,9.4-10.4,9.4h-19.8v89.2h4.7c2.2-0.3,3.8-0.5,4.7-0.5
                    c29.3,1.3,53.7-6.9,73.4-24.5c19.7-17.6,30.3-39.3,31.9-65.1c1.3-26.4-6.8-49.4-24.3-68.9c-17.5-19.5-39.4-29.9-65.8-31.2
                    c-33.7-1.9-60.7,10.7-81.2,37.8c-3.5,4.7-7.9,7.1-13.2,7.1c-4.7,0-8.8-1.7-12.3-5c-3.5-3.3-5.2-7.3-5.2-12c0-3.5,1.3-6.8,3.8-9.9
                    c12.9-17.3,29.1-30.5,48.6-39.6c19.5-9.1,40-13.2,61.4-12.3c35.9,1.9,65.7,16,89.4,42.2c23.8,26.3,34.5,57.3,32.3,93.2
                    c-1.6,32.1-11.8,58.2-30.7,78.3c-25.2,26.7-54.3,41.4-87.3,43.9c-4.1,0-7.4,0-9.9,0h-20.3v101.5h177c6.9,0,10.4,3.1,10.4,9.4
                    C404,434.1,400.5,437.4,393.6,437.4z M183.1,133.5c0-4.7,1.7-8.7,5-12c3.3-3.3,7.3-5,12-5s8.7,1.7,12,5c3.3,3.3,5,7.3,5,12
                    c0,4.7-1.7,8.7-5,12c-3.3,3.3-7.3,5-12,5s-8.7-1.7-12-5C184.7,142.2,183.1,138.2,183.1,133.5z"/>
            </g>
            <g>
                <path d="M274.7,360.5h-8.1l-14.9,15.1l15.6,15.6h7.5c1.7,0,2.5,0.7,2.5,2.1c0,1.4-0.8,2.2-2.4,2.2l-3.6,0l2.5,2.5h5.1
                    c1.7,0,2.5,0.7,2.5,2.1c0,1.4-0.8,2.2-2.5,2.2h-19.2c-1.6,0-2.4-0.7-2.4-2.2c0-1.4,0.8-2.1,2.4-2.1h4.9l-2.5-2.5h-6.6
                    c-1.6,0-2.4-0.7-2.4-2.2c0-1.4,0.8-2.1,2.4-2.1l2.5-0.1L244.9,378l-3.6,0c-2.5,0-3.7-0.8-3.7-2.4c0-1.6,1.2-2.4,3.7-2.4h3.6
                    l12.6-12.9l-2,0c-1.6,0-2.3-0.7-2.3-2.2c0-1.4,0.8-2.1,2.4-2.1h6.1l2.7-2.8h-4.7c-1.6,0-2.4-0.7-2.4-2.2c0-1.4,0.8-2.1,2.5-2.1h1.4
                    c0.3,0,0.6,0,0.9,0h16.6c1.3,0,2.1,0.3,2.3,1c0.2,0.3,0.3,0.6,0.3,1.1c0,1.4-0.8,2.1-2.5,2.1h-5.4l-2.6,2.8h3.8
                    c1.7,0,2.6,0.7,2.6,2.1C277.2,359.8,276.3,360.5,274.7,360.5z"/>
                <path d="M315.2,366.6l-13.5,35.1c-1,2.5-2.5,3.8-4.6,3.8c-1.8,0-2.8-1.1-2.8-3.4c0-0.6,0.1-1.2,0.3-1.7l27.8-78.1h-4.9
                    c-2.5,0-3.7-1.2-3.7-3.7c0-2.4,1.2-3.6,3.7-3.6h20c2.5,0,3.7,1.2,3.7,3.6c0,2.5-1.2,3.7-3.7,3.7h-7.1l-12.6,36.9h5.3
                    c2.5,0,3.7,1.2,3.7,3.7c0,2.5-1.2,3.7-3.7,3.7H315.2z"/>
                <path d="M354.4,358.3c0-1.4,0.8-2.1,2.5-2.1h3.9l-2.7-2.7h-5.2c-1.6,0-2.5-0.7-2.5-2.2c0-0.5,0.1-0.9,0.3-1.1c0.2-0.7,1-1,2.3-1
                    h16.6c0.3,0,0.6,0,0.9,0h1.4c1.6,0,2.5,0.7,2.5,2.1c0,1.5-0.8,2.2-2.5,2.2h-4.7l2.6,2.7h6.2c1.6,0,2.5,0.7,2.5,2.1
                    c0,1.4-0.8,2.2-2.5,2.2h-2l12.6,12.8h3.6c2.5,0,3.7,0.8,3.7,2.4c0,1.6-1.2,2.4-3.7,2.4h-3.6l-13,13.1h2.4c1.6,0,2.5,0.7,2.5,2.1
                    c0,1.4-0.8,2.2-2.5,2.2h-6.5l-2.5,2.5h4.8c1.6,0,2.5,0.7,2.5,2.1c0,1.4-0.8,2.2-2.5,2.2h-19.1c-1.6,0-2.5-0.7-2.5-2.2
                    c0-1.4,0.8-2.1,2.5-2.1h5.2l2.5-2.5h-3.6c-1.6,0-2.5-0.7-2.5-2.2c0-1.4,0.8-2.1,2.5-2.1h7.7l15.4-15.5l-15.1-15.2h-8
                    C355.2,360.5,354.4,359.8,354.4,358.3z"/>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <div class="navigation">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/" aria-label="Home Page">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/skills" aria-label="My Skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/works" aria-label="My Works">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/about" aria-label="About Me">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact" aria-label="Contact Me">Contact</a>
                </li>
            </ul>
            <ul class="nav-mobile">
                <li title="Home">
                  <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/" aria-label="Home Page">
                      <i class="fa-solid fa-house"></i>
                  </a>
                </li>
                <li title="Skills">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/skills" aria-label="My Skills">
                        <i class="fa-solid fa-code"></i>
                    </a>
                </li>
                <li title="Works">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/works" aria-label="My Works">
                        <i class="fa-solid fa-briefcase"></i>
                    </a>
                </li>
                <li title="About">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/about" aria-label="About Me">
                        <i class="fa-solid fa-list-ul"></i>
                    </a>
                </li>
                <li title="Contact">
                    <a class="nav-link" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact" aria-label="Contact Me">
                        <i class="fa-solid fa-id-card"></i>
                    </a>
                </li>
            </ul>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="isDarkMode" (change)="toggleTheme();">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>