<div class="footer d-flex justify-content-center align-items-center" [ngClass]="{'dark-mode' : isDarkMode}">
    <div class="copyright">
        © Copyright {{year}}. All Rights Reserved.
        <fa-icon [icon]="faHeart" *ngIf="!loveToggled" (click)="toggleHeart()"></fa-icon>
        <fa-icon [icon]="fasHeart" style="color: #ff0000;" *ngIf="loveToggled" (click)="toggleHeart()"></fa-icon>
        by
        <span class="name">
            <a href="#">Pragath G</a>
        </span>
    </div>
</div>