.footer{
    height: 60px;
    .copyright{
        font-size: 15px;
        font-weight: 600;
        color: gray;
    }
    .name{
        color:#7367f0;
        font-weight: 700;
        a{
            color: unset;
            text-decoration: none;
        }
    }
    i{
        cursor: pointer;
        &.fa-solid{
            color:#7367f0; 
        }
    }
}

.dark-mode{
    background: #18191A;
    .name{
        color: #28BA67; //2aaf4c
    }
    i{
        &.fa-solid{
            color:#28BA67; 
        }
    }
}